<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
        .error{
            color: red
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Add New Student to <%= @dojo.branch %></h1>
        <form action="/dojos/<%= @dojo.id %>/students" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" name="student[first_name]" class="form-control" id="first_name">
                <% if flash[:first_name] %>
                <p class="error"><%= flash[:first_name] %></p>
                <% end %>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" name="student[last_name]" class="form-control" id="last_name">
                <% if flash[:last_name] %>
                <p class="error"><%= flash[:last_name] %></p>
                <% end %>
            </div>
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" name="student[email]" class="form-control" id="email">
                <% if flash[:email] %>
                <p class="error"><%= flash[:email] %></p>
                <% end %>
            </div>
            <input type="hidden" name="student[dojo_id]" value="<%= @dojo.id %>">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
        <p><a href="/dojos">Home</a> | <a href="/dojos/<%= @dojo.id %>"><%= @dojo.branch %></a></p>
    </div>
</body>
</html>